PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://juniortech775_db_user:Juniortech775@portfolio-cluster.vqxch5l.mongodb.net/puppy-adoption-platform?appName=portfolio-cluster
# MONGO_URI
JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

#cloudnary setup
CLOUDINARY_CLOUD_NAME=dqlo7rb6a
CLOUDINARY_API_KEY=912312685438131
CLOUDINARY_API_SECRET=SHea7t0P3d2qbK1e-UnH0CBHmO0


EMAIL_USER=juniortech775@gmail.com
EMAIL_PASS=mhymgdjkhenpuwkw